<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GiveGift</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.css" rel="stylesheet">

  </head>

  <body id="page-top">

 <script>
   window.fbAsyncInit = function() {
     FB.init({
       appId      : '490726977954779',
       cookie     : true,
       xfbml      : true,
       version    : '{latest-api-version}'
     });
     FB.AppEvents.logPageView();
   };


(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.10&appId=490726977954779";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <!-- MENU -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <!--<a class="navbar-brand js-scroll-trigger" href="#page-top">GiveGift</a>-->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Dúvidas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Prévia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--INICIO-->
    <header class="masthead">
      <div class="header-content">
        <div class=text-right>
             <button type="button" class="btn btn-facebook btn-xlface" onclick="window.location.href='usuario/profile.html';">
                 Facebook
            </button>
            <div class="fb-login-button" data-width="140" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true" onclick="window.location.href='usuario/profile.html';"></div>
        </div>
        <div class="header-content-inner">
          <hr>
          <h1 id="homeHeading">Sua forma favorita de presentear os amigos</h1>
          <hr>
          <p>Com o GiveGift é possível encontrar o presente perfeito</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Saiba mais</a>
        </div>
      </div>
    </header>

    <!--SOBRE-->
    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-h ">Nós temos o que você precisa</h2>
            <hr class="hr">
            <p class="text-faded">Se você não sabe como presentear seu colega, amigo ou parente, o GiveGift é a melhor escolha. Deixe que nós encontremos o presente perfeito. Faça login com o Facebook e descubra como é fácil!</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#services">Ainda tem dúvidas?</a>
          </div>
        </div>
      </div>
    </section>

    <!--DÚVIDAS-->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-title-section">Veja como funciona</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-facebook-official text-primary sr-icons"></i>
              <h3>Conecte-se com o facebook</h3>
              <p class="text-muted">A partir da sua conta do Facebook você pode se conectar aos seus amigos e presentá-los com as opções que ofercemos</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-users text-primary sr-icons"></i>
              <h3>Escolha seu amigo presenteado</h3>
              <p class="text-muted">Você escolhe qual amigo quer presentear e com isso nós calculamos um lista de presentes para facilitar a sua escolha</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-gift text-primary sr-icons"></i>
              <h3>Encontrou o presente? Não precisa procurar nas lojas</h3>
              <p class="text-muted">Nós procuramos para você. Através de um clique você pode encontrar os preços e as lojas que vendem o produto</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
              <h3>Presenteie!</h3>
              <p class="text-muted">Veja seu amigo feliz e comemore com ele essa data especial!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--PREVIA-->
    <section class="p-0" id="portfolio">
      <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/screen1.png">
              <img class="img-fluid" src="img/screen1.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    Veja todos os seus amigos que também utilizam o GIVEGIFT!
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/screen2.png">
              <img class="img-fluid" src="img/screen2.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    Encontre presentes para um amigo!
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/screen3.png">
              <img class="img-fluid" src="img/screen3.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    Visualize os aniversariantes do mês.
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!--
    <div class="call-to-action bg-dark">
      <div class="container text-center">
        <h2>Free Download at Start Bootstrap!</h2>
        <a class="btn btn-default btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a>
      </div>
    </div>
    -->
    <!--PREVIA-->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Dúvidas?</h2>
            <hr class="primary">
            <p>Envie sua dúvida e entraremos em contato em breve!</p>
          </div>
        </div>
        <div class="row">
          <!--
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x sr-contact"></i>
            <p>123-456-6789</p>
          </div>
          -->
          <div class="col-lg-12 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x sr-contact"></i>
            <p>
              <!--<a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>-->
              <a class="btn btn-primary btn-xl js-scroll-trigger" href="#contact">Contate-nos</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

  </body>

</html>
