<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>GiveGift</title>

        <!-- Bootstrap core CSS -->
        <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <!-- Plugin CSS -->
        <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../css/creative.css" rel="stylesheet">
    </head>
    
    <body id="page-top">

        <!-- MENU -->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container">
                <!--<a class="navbar-brand js-scroll-trigger" href="#page-top">GiveGift</a>-->
                <a class="navbar-brand icon" href="#"><img src="../img/logo1.png" data-active-url="../img/logo1.png" alt=""></a>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown ">
                        <a href="#" class="nav-link js-scroll-trigger dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span> 
                            <strong>Olá, nome usuário</strong>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-login">
                                    <div class="row">
                                        <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="icon-size"><img class="icon-size" src="../img/usuario.jpg" data-active-url="../img/usuario.jpg" alt=""></span>
                                        </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="text-left">Nome do usuário</p>
                                            <p class="text-left small">email_facebook.com</p>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p class="text-center"><strong>Configurações</strong></p>
                                            <p class="text-left">
                                                <a href="#" class="nav-link js-scroll-trigger ">Alterar preferências</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p class="text-left">
                                                <a href="#" class="nav-link js-scroll-trigger ">Visualizar preferências</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="navbar-login navbar-login-session">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <a href="#" class="btn btn-danger btn-block">Sair</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
        <!--FIM DO NAVBAR-->
        
        <section>
            <div class="container" style="">
                     <div class="row">
                         <div class="col-lg-2">
                         </div>
                         <div class="col-lg-8 panel-color">
                             <!-- TABS -->
                             <div class="row">
                                <div class="col-md-12">
                                    <div class="tabbable-panel">
                                        <div class="tabbable-line">
                                            <ul class="nav nav-tabs ">
                                                <li class="active">
                                                    <a href="#tab_default_1" data-toggle="tab">
                                                    Melhores amigos </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_default_2" data-toggle="tab">
                                                    Todos amigos </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_default_1">
                                                    
                                                    <p>
                                                        Duis autem eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
                                                    </p>
                                                    <p>
                                                        <a class="btn btn-success" href="http://j.mp/metronictheme" target="_blank">
                                                            Learn more...
                                                        </a>
                                                    </p>
                                                </div>
                                                <div class="tab-pane" id="tab_default_2">
                                                    <p>
                                                        Howdy, I'm in Tab 2.
                                                    </p>
                                                    <p>
                                                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                                                    </p>
                                                    <p>
                                                        <a class="btn btn-warning" href="http://j.mp/metronictheme" target="_blank">
                                                            Click for more features...
                                                        </a>
                                                    </p>
                                                </div>
                                                <div class="tab-pane" id="tab_default_3">
                                                    <p>
                                                        Howdy, I'm in Tab 3.
                                                    </p>
                                                    <p>
                                                        Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
                                                    </p>
                                                    <p>
                                                        <a class="btn btn-info" href="http://j.mp/metronictheme" target="_blank">
                                                            Learn more...
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <h3>Below Tab</h3>

                                    <div class="tabbable-panel">
                                        <div class="tabbable-line tabs-below">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_below_1">
                                                    <p>
                                                        I'm in Tab 1.
                                                    </p>
                                                    <p>
                                                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
                                                    </p>
                                                    <p>
                                                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat dolor in hendrerit in vulputate velit esse molestie consequat.
                                                    </p>
                                                    <p>
                                                        <a class="btn btn-warning" href="http://j.mp/metronictheme" target="_blank">
                                                            Learn more...
                                                        </a>
                                                    </p>
                                                </div>
                                                <div class="tab-pane" id="tab_below_2">
                                                    <p>
                                                        Howdy, I'm in Tab 2.
                                                    </p>
                                                    <p>
                                                        Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
                                                    </p>
                                                    <p>
                                                        <a class="btn btn-danger" href="http://j.mp/metronictheme" target="_blank">
                                                            Learn more...
                                                        </a>
                                                    </p>
                                                </div>
                                                <div class="tab-pane" id="tab_below_3">
                                                    <p>
                                                        Howdy, I'm in Tab 3.
                                                    </p>
                                                    <p>
                                                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate.
                                                    </p>
                                                    <p>
                                                        <a class="btn btn-info" href="http://j.mp/metronictheme" target="_blank">
                                                            Learn more...
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a href="#tab_below_1" data-toggle="tab">
                                                    Tab 1 </a>
                                                </li>
                                                <li class="">
                                                    <a href="#tab_below_2" data-toggle="tab">
                                                    Tab 2 </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_below_3" data-toggle="tab">
                                                    Tab 3 </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                         <div class="col-lg-2">
                         </div>
                     </div>
                </div>
        </section>

        
        <!-- Bootstrap core JavaScript -->
        <script src="../vendor/jquery/jquery.min.js"></script>
        <script src="../vendor/popper/popper.min.js"></script>
        <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="../vendor/scrollreveal/scrollreveal.min.js"></script>
        <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="../js/creative.min.js"></script>
        
    </body>
</html>