<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>GiveGift</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Custom fonts for this template -->
        <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <!-- Plugin CSS -->
        <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../css/creative.css" rel="stylesheet">
        
        <!--CSS para a foto do profile -->
        <link href="../css/style_user.css" rel="stylesheet">
        
        <!--CSS para o menu -->
        <link href="../css/style_navbar_user.css" rel="stylesheet">
        
    </head>
    
    <body id="page-top">
        <div class="container-fluid">
            <div class="fb-profile">
                <img class="fb-image-lg" src="../img/background_user.png" alt="Profile image example"/>
                <div class="text-center fb-location-profile">
                    <img class="fb-image-profile img-circle" src="https://graph.facebook.com/1443816199029127/picture?width=140&height=140" alt="Profile image example"/>
                    <div class="fb-profile-text">
                        <h1 id="friend-img-pro" class="fb-name-color">Matheus Guerrero</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                
                <div class="btn-group" role="group">
                    <button type="button" id="following" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        <div class="hidden-xs">Ver recomendações</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="following" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                        <div class="hidden-xs">Aniversário</div>
                    </button>
                </div>
                
                <div class="btn-group" role="group">
                    <button type="button" id="favorites" class="btn btn-default" data-toggle="tab" onclick="window.location.href='profile.html';"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        <div class="hidden-xs">Voltar</div>
                    </button>
                </div>
            </div>
            <div class="well">
                <div class="tab-content">
                    <!-- PESQUISAR PRODUTOS -->
                    <div class="tab-pane fade in active" id="tab1">
                        
                        <div class="text-center"><h4>Recomendações para 'Matheus'</h4></div>
                        <hr/>
                        <div class="row col-xs-12"> 
                             <div class="form-group">
                                 <div class="input-group">
                                     <input type="text" class="form-control" placeholder="Pesquisar produtos">
                                     <div class="input-group-btn">
                                         <button class="btn btn-primary dropdown-toggle" type="button" id="ordenar" data-toggle="dropdown"><span class="fa fa-sort" aria-hidden="true"></span></button>
                                         <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="ordenar">
                                             <li role="presentation"><a role="menuitem" tabindex="-1" href="#">A-Z</a></li>
                                             <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mais relevante</a></li>
                                             <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menor preço</a></li>
                                             <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Maior preço</a></li>
                                             <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Categoria</a></li>
                                         </ul>
                                     </div>
                                 </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-default">    
                                    <div class="row" style="display: none;">
                                        <div class="col-xs-12">
                                            <div class="input-group c-search">
                                                <input type="text" class="form-control" id="contact-list-search">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <!-- lista de produtos -->
                                    <div class="container">
                                        <div class="row">
                                            <ul class="listrap">
                                                <li class="row col-xs-12 col-md-6">
                                                    <div class="thumbnail">
                                                        <a href="#"><img src="https://thumbs.buscape.com.br/fone-de-ouvido-headset/jbl-t450bt_300x300-PU9a165_1.jpg" alt="" class="fb-image-products"/></a>
                                                    </div>
                                                    <ul class="list-inline">
                                                        <li><strong>JBL T450BT</strong></li>
                                                        <li class='pull-right'>R$ 189,00</li>
                                                    </ul>
                                                    <a href="#" class="btn btn-success col-md-6">Comprar</a>
                                                </li>
                                                <li class="row col-xs-12 col-md-6">
                                                    <div class="thumbnail">
                                                        <a href="#"><img src="https://thumbs.buscape.com.br/livros/insurgente-uma-escolha-pode-te-destruir-veronica-roth-8579801559_300x300-PU6ebe86fb_1.jpg" alt="" class="fb-image-products"/></a>
                                                    </div>
                                                    <ul class="list-inline">
                                                        <li><strong>Insurgente - Uma Escolha Pode Te Destruir - Veronica Roth (8579801559)</strong></li>
                                                        <li class='pull-right'>R$ 25,50</li>
                                                    </ul>
                                                    <a href="#" class="btn btn-success col-md-6">Comprar</a>
                                                </li>
                                                <li class="row col-xs-12 col-md-6">
                                                    <div class="thumbnail">
                                                        <a href="#"><img src="https://thumbs.buscape.com.br/livros/swimming-fastest-the-essential-reference-on-technique-training-and-program-design-ernest-w-maglischo-0736031804_300x300-PU3ffde26c_1.jpg" alt="" class="fb-image-products"/></a>
                                                    </div>
                                                    <ul class="list-inline">
                                                        <li><strong>Swimming Fastest: the Essential Reference on Technique, Training, and Program Design - Ernest W. Maglischo (0736031804)</strong></li>
                                                        <li class='pull-right'>R$ 219,90</li>
                                                    </ul>
                                                    <a href="#" class="btn btn-success col-md-6">Comprar</a>
                                                </li>
                                                <li class="row col-xs-12 col-md-6">
                                                    <div class="thumbnail">
                                                        <a href="#"><img src="https://thumbs.buscape.com.br/jogos/halo-4-xbox-360-dvd_300x300-PU518d7_1.jpg" alt="" class="fb-image-products"/></a>
                                                    </div>
                                                    <ul class="list-inline">
                                                        <li><strong>Halo 4 Xbox 360</strong></li>
                                                        <li class='pull-right'>R$ 109,00</li>
                                                    </ul>
                                                    <a href="#" class="btn btn-success col-md-6">Comprar</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- ANIVERSARIANTES -->
                    <div class="tab-pane fade in" id="tab2">
                        <form class="form-horizontal">
                            <fieldset>
                            <legend>Informações</legend>
                                <div class="row">
                                <div class="text-center">
                                    <div class="row col-xs-12 col-md-6 col-md-offset-3">
                                        <h4>Idade</h4>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input id="idade_user" type="text" class="form-control disable" name="email" placeholder="XX anos" disabled>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="text-center">
                                        <div class="row col-xs-12 col-md-6 col-md-offset-3">
                                            <h4>Data de aniversário</h4>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                <input id="idade_user" type="text" class="form-control disable" name="email" placeholder="Dia XX de 'mês'" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
              </div>
            </div>
        </div>
        
        <script src="../vendor/jquery/jquery.min.js"></script>
        <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="../js/user.js"></script>
        <!-- JavaScrip Search Plugin -->
        <script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>
        
        <script src="../js/test_face.js"></script>
    </body>
</html>


